/* src/css/BreakComponent.css */

.break-component {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.decorative-line {
    width: 80%;
    height: 5px;
    background: linear-gradient(90deg, rgba(255,0,150,1) 0%, rgba(0,123,255,1) 100%);
    border-radius: 5px;
}
