/* src/css/Footer.css */

.footer-container {
    background-color: #fff;
    color: #333; 
    padding: 10px 0; 
    font-size: 0.9rem;
    box-shadow: 0 -4px 8px 0 rgba(0,0,0,0.2); 
    border-radius: 0 0 10px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-align: center;
    border-top: 1px solid #ddd; 
}

.footer-bottom {
    padding-top: 5px;
}


@media (max-width: 768px) {
    .footer-container {
        padding: 5px 0; 
        font-size: 0.8rem; 
    }
}
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-style: normal;
  }
  