/* src/components/NoResults.css */

.no-results-container {
    text-align: center;
    padding: 20px;
}

.no-results-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.no-results-container p {
    font-size: 1.2em;
    color: #666;
}
