/* RelatedWords.css */

.related-words-container {
    margin-top: 20px;
}

.related-words-container h3 {
    color: #007bff;
}

.related-words-container ul {
    list-style-type: none;
    padding: 0;
}

.related-words-container li {
    cursor: pointer;
    margin-bottom: 5px;
}

.related-words-container li:hover {
    color: #007bff;
    text-decoration: underline;
}
