/* src/css/SearchBox.css */

.search-box-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%; 
}

.search-box-container form {
    display: flex;
    width: 50%;
    border: 1px solid #ddd; 
    border-radius: 20px; 
    overflow: hidden; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    background-color: #fff; 
}

.search-box-container input[type="text"] {
    padding: 10px 20px;
    border: none; 
    width: 100%; 
    font-size: 16px; 
}

.search-box-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-box-container button:hover {
    background-color: #0056b3; 
}
