/* src/css/WordOfTheDay.css */

.word-of-the-day-container {
    margin: 20px auto;
    max-width: 800px; 
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    overflow: hidden; 
}

.word-of-the-day-container h3 {
    color: #007bff; 
    text-align: center; 
    margin-bottom: 30px; 
}

.word-of-the-day-container h4 {
    color: #495057; 
    background-color: #e9ecef; 
    border-radius: 5px; 
    padding: 10px; 
    margin-top: 20px; 
}

.word-of-the-day-container p,
.word-of-the-day-container ul,
.word-of-the-day-container ul li {
    background-color: #fff; 
    margin-left: 20px; 
    list-style-type: none; 
    padding: 10px; 
    border-left: 3px solid #007bff;
    border-radius: 5px; 
    margin-bottom: 5px; 
}

/* Style for the image */
.word-of-the-day-container img {
    display: block;
    margin: 0 auto 10px; 
    max-width: 100%; 
    border-radius: 8px; 
}
